<!-- include navbar from partials -->
<%- include('partials/navbar.ejs') %>
<!-- include header from partials -->
<%- include('partials/header.ejs') %>
<body>
  <img src="img/1.gif" />
  <img src="/img/2.gif" />
  <img src="/img/3.gif" />
  <img src="/img/4.gif" />
  <img src="/img/5.gif" />
</body>
<!-- include navbar from partials -->
<%- include('partials/footer.ejs') %>
